# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
MANIFEST

# Environment files
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs and cache
*.log
*.cache
.pytest_cache/

# IDE-specific files
.idea/
*.vscode/
*.spyderproject
*.spyproject

# Jupyter Notebook
.ipynb_checkpoints/

# Pygame-related artifacts
assets/audio/*.wav~
assets/images/*.bmp~

# Misc files
notes.txt